/* 컬러 스킴 변수 */
:root {
  --color-primary: #971B2F;
  --color-neutral-1: #B2B4B8;
  --color-neutral-2: #67767F;
  --color-neutral-3: #4B4F5A;
  --color-neutral-4: #101820;
  --color-neutral-5: #A2B2C8;
  --color-white: #FFFFFF;
  --color-gray-light: #F5F5F5;
  --color-gray-border: #E0E0E0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-gray-light);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--color-neutral-4);
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
